<div id="<%= dom_id producto %>" class="w-full sm:w-auto my-5 space-y-5">
  <div>
    <strong class="block font-medium mb-1">Nombre:</strong>
    <%= producto.nombre %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Descripcion:</strong>
    <%= producto.descripcion %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Precio:</strong>
    <%= producto.precio %>
  </div>
</div>
